.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: left;
  width: 300px;
  height: 100%;
  background-color: #1e2328; /* Dark background color */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999;
}

.sidebar-top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-top {
  height: 70px;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.sidebar-hamburger {
  height: 100%;
  background-color: transparent;
  border: none;
}

.sidebar-icon {
  height: 100%;
  width: auto;
  color: white;
}

.sidebar h1 {
  color: white;
  text-align: center;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 0;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.sidebar ul li {
  text-align: center;
  padding: 0.2rem;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  filter: brightness(0.8);
}

.sidebar-logo {
  font-family: Staatliches;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.sidebar-logo-img {
  display: block;
  width: 40px;
  height: auto;
}

.sidebar ul li button {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.sidebar ul li button:hover {
  filter: brightness(0.8);
}
