.homepage {
  background-color: #3b3f46; /* Dark background color */
  height: 100%;
  width: 100%;
}

.homepage-banner {
  display: flex;
  width: 100%;
  height: 750px; /* Adjust height as needed */
  background-image: url("../../public/carbanner.jpg");
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.homepage-banner-content {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  color: white;
  text-align: center;
  color: #efbe25;
}

.homepage-banner-content h1 {
  font-family: Staatliches;
  font-size: 120px;
  margin: 0;
}

.homepage-banner-text {
  white-space: nowrap;
}

.homepage-banner-button-wrapper {
  display: flex;
  justify-content: center;
  align-content: content;
  width: 100%;
}

.homepage-banner-button {
  font-family: Staatliches;
  font-size: 40px;
  width: 220px;
  height: 60px;
  color: white;
  background-color: #efbe25;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
.homepage-banner-button:hover {
  filter: brightness(0.8);
}
