.homepage {
  background-color: #3b3f46; /* Dark background color */
  height: 100%;
  width: 100%;
}

.homepage-banner {
  margin-top: 70px;
  position: relative;
  width: 100%;
  height: 750px; /* Adjust height as needed */
  overflow: hidden;
}

.homepage-banner-img {
  width: 100%;
}
.homepage-banner-content {
  position: absolute;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  top: 50%; /* Centers content vertically */
  left: 50%; /* Centers content horizontally */
  transform: translate(-50%, -50%); /* Correct centering */
  color: white; /* Makes the text stand out */
  text-align: center;
  color: #efbe25; /* Makes the text stand out */
  z-index: 2;
  transition: 0.3s;
  animation: fadein 1s;
}

.homepage-banner-content h1 {
  font-family: Staatliches;
  font-size: 120px;
  margin: 0;
}

.homepage-banner-text {
  white-space: nowrap;
}

.homepage-banner-button-wrapper {
  display: flex;
  justify-content: center;
  align-content: content;
  width: 100%;
}

.homepage-banner-button {
  font-family: Staatliches;
  font-size: 40px;
  width: 220px;
  height: 60px;
  color: white;
  background-color: #efbe25;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
.homepage-banner-button:hover {
  filter: brightness(0.8);
}
