@font-face {
  font-family: "Staatliches";
  src: url("./fonts/Staatliches-Regular.ttf") format("truetype");
}

.App {
  width: 100vw;
  height: 100vh;
}

.routes {
  margin-top: 70px;
}

.App-vehicle-display {
  width: 100%;
  height: 100%;
  border: 3px solid red;
}
