@font-face {
  font-family: "Staatliches";
  src: url("./fonts/Staatliches-Regular.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-layout {
  display: flex;
  flex: 1;
}

.App-navwrapper {
  height: 80px;
}

.App-sidebarwrapper {
  width: 80px;
}

.App-searchbar {
  display: flex;
  position: fixed;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.App-content {
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
}
